<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Extansion_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MyKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SharingExtantion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E755E2E61B6634A70035635D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E755E2FF1B6634A70035635D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E755E3131B6634BD0035635D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E77914211B689B6F00C8CB19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7A615E91B6A4891009FAC56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
